.X7670h8I1fSg{
	background: #000;
	border-radius: 4px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	opacity: .75;
	padding: 10px;
}

.X7670h8I1fSg h4, .X7670h8I1fSg p{
	color: #fff;
	margin: 5px 0;
}