.X7670h8I1fSg{
	background: #000;
	border-radius: 4px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	opacity: .75;
	padding: 10px;
}

.X7670h8I1fSg h4, .X7670h8I1fSg p{
	color: #fff !important;
	margin: 5px 0 !important;
}

.X7670h8I1fSg h4{
	font-weight: bold !important;
	font-size: 14px !important;
}

.X7670h8I1fSg p{
	font-size: 14px !important;
}

