body{
	height: 500px;
	width: 500px;
}

h4{
	margin: 0;
	padding: 0;
}

#top-input{
	overflow: hidden;
}

#expand-top{
	display: none;
}

#groups{
	padding : 15px;
}

.remove-group, .remove-link{
	height: auto;
	width: 80px;
}

p{
	margin: 0;
	padding: 0;
}