/* Framework */
$input: #9A8EB8;
$text: #B5C4D0;
$background: #393939;
$grey: #727272;

$rale: 'Raleway', sans-serif;
$jura: 'Jura', sans-serif;

html{
	margin: 0;
	padding: 0;
	background: #000;

	/* This will simulate the optimal size for a chrome popup */
	body{
		height: 500px;
		width: 500px;
		background: $background;
		float: left;
		color: $text;
	}
}

h5, h4, p{
	font-family: 'Jura', sans-serif !important;
	margin: 0 !important;
	padding: 0px 5px !important;
	float: left;
	overflow: hidden;
}

.img{
	margin: 0 !important;
	padding: 0 !important;
}

/*Content*/
#bar{
	overflow: hidden;
	background: #1F1F1F;
	height: 30px;

	#input-controls{
		float: right;
		padding: 5px 5px;
		overflow: hidden;
		p{
			margin: 5px;
		}
		p:hover {
			background: #303030;
		}
	}

	#title{
		padding: 5px 5px;
		height: 100%;
		float: left;
	}
}

#groups{
	margin: 10px 5px;
}

.group{
	padding: 5px;
}

.group:hover{
	background: #454649;
}

#group-input, #link-input{
	padding : 5px;
	display: none;
}

.links{
	border: 1px solid #000;
	border-radius: 3px;
	border-color: $grey;
	padding: 0px 5px;
	overflow: hidden;
	width: 100%;
}

.link{
	overflow: hidden;
	margin: 3px 0px;
	height: auto;
}

.link:hover{
	color: #fff;
}

.remove-group, .edit-group, .remove-link, .edit-link{
	height: 10px;
	width: 10px;
}

.input{
	width: 37%;
	margin-right: 10px;
	background: $background;
	border-style: none none solid solid;
	border-color: $input;
	border-width: 1px;
	color: $input;
	font-size: 12px;
	font-family: 'Jura', sans-serif !important;
}

.but{
	position: relative;
	vertical-align: top;
	height: 20px;
	padding: 1px 5px;
	font-size: 10px;
	color: #000;
	text-align: center;
	background: #859596;
	border: 0;
	font-family: 'Jura', sans-serif !important;
}

.inline{
	margin: 0 !important;
	padding: 0px 5px !important;
	float: left;
}

::-webkit-input-placeholder {
   color: $input;
}

:-moz-placeholder { /* Firefox 18- */
   color: $input;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $input;  
}

:-ms-input-placeholder {  
   color: $input;  
}
